<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kleider Sports - Catalogo</title>

  <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/catalog.css">
  <link rel="stylesheet" href="../css/filtros.css">
  <link rel="stylesheet" href="../css/support.css">
  <link rel="stylesheet" href="../css/footer.css">  
</head>

<body>

  <div class="menu">
    <ul>
      <li><a>KLEIDER</a></li>
      <li><a href="../Index.html">Home</a></li>
      <li><a href="./Catalog.html">Catalogo</a></li>
      <li><a href="./More-Info.html">Informacion</a></li>
      <li><a href="./Support.html">Soporte</a></li>
    </ul>
  </div>
  <div class="contenido">

    <div class="filter-menu">
      <button onclick="applyFilter('none')">Sin Filtro</button>
      <button onclick="applyFilter('grayscale(100%)')">Blanco y Negro</button>
      <button onclick="applyFilter('sepia(100%)')">Sepia</button>
      <button onclick="applyFilter('blur(5px)')">Desenfoque</button>
      <button onclick="applyFilter('brightness(150%)')">Brillo</button>
      <button onclick="applyFilter('contrast(200%)')">Contraste</button>
      <button onclick="applyFilter('invert(100%)')">Invertir Colores</button>
    </div>
    <div class="image-container">
    </div>
    <!-- seccion -->
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img_cat/ars.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img_cat/ath.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img_cat/bay.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
            <span>10</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img_cat/int.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img_cat/al-nasrr.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>
    </div>
    <br>
    <!-- seccion -->
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img/1-1.png">
        </div>
        <div class="contentBx">
          <h2>Buzo hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img/2-1.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img/3-1.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
            <span>10</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img/4-1.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img id="image" src="../img/5-1.png">
        </div>
        <div class="contentBx">
          <h2>Camiseta hombre 1ª equipación 24/25</h2>
          <div class="size">
            <h3>Size :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>Color :</h3>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="#">Comprar</a>
        </div>
      </div>
    </div>
    <br>

</body>

<h1>Bienvenido a KLEIDER SPORTS</h1>
<p>Contenido principal del sitio web.</p>
<footer class="footer">
  <img class="footer-logo" src="../img/logo.jpeg" alt="Logo de Deportes XYZ">
  <div class="footer-links">
    <a href="/">Inicio</a>
    <a href="#">Noticias</a>
    <a href="#">Eventos</a>
    <a href="./More-Info.html">Contacto</a>
  </div>
  <div class="footer-social-icons">
    <a href="#"><img src="../img/f.png" alt="Facebook"></a>
    <a href="#"><img src="../img/t.png" alt="Twitter"></a>
    <a href="#"><img src="../img/ins.png" alt="Instagram"></a>
  </div>
  <p>© 2024 KLEIDER. Todos los derechos reservados Duban Caro.</p>
</footer>

<script src="../js/catalog.js"></script>

</html>