<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kleider Sports - Soporte</title>

    <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/support.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <div class="menu">
        <ul>
            <li><a>KLEIDER</a></li>
            <li><a href="../Index.html">Home</a></li>
            <li><a href="./Catalog.html">Catalogo</a></li>
            <li><a href="./More-Info.html">Informacion</a></li>
            <li><a href="./Support.html">Soporte</a></li>
        </ul>
    </div>
    <div class="contenido">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odit voluptas iure dolore omnis explicabo,
            nam odio, repellat veniam minima suscipit obcaecati exercitationem voluptates blanditiis nostrum praesentium
            quasi veritatis ipsam.
        </p>
    </div>

    <div class="alert alert-primary">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>Has asignado Propietario de <a href="#">Actualizacion de datos</a></p>
        <span class="mdi mdi-open-in-new open"></span>
        <span class="mdi mdi-close close"></span>
    </div>
    <div class="alert alert-success">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>Has asignado Propietario de <a href="#">Compras</a></p>
        <span class="mdi mdi-open-in-new open"></span>
        <span class="mdi mdi-close close"></span>
    </div>
    <div class="alert alert-warning">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>Has asignado Propietario de <a href="#">Informacion de productos</a></p>
        <span class="mdi mdi-open-in-new open"></span>
        <span class="mdi mdi-close close"></span>
    </div>
    <div class="alert alert-dark">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>Has asignado Propietario de <a href="#">Acerca de nosotros</a></p>
        <span class="mdi mdi-open-in-new open"></span>
        <span class="mdi mdi-close close"></span>
    </div>
    <div class="alert alert-error">
        <div class="icon__wrapper">
            <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>Has asignado Propietario de <a href="#">Soporte de cuenta</a></p>
        <span class="mdi mdi-open-in-new open"></span>
        <span class="mdi mdi-close close"></span>
    </div>

</body>

<h1>Bienvenido a KLEIDER SPORTS</h1>
<p>Contenido principal del sitio web.</p>
<footer class="footer">
    <img class="footer-logo" src="../img/logo.jpeg" alt="Logo de Deportes XYZ">
    <div class="footer-links">
        <a href="/">Inicio</a>
        <a href="#">Noticias</a>
        <a href="#">Eventos</a>
        <a href="./More-Info.html">Contacto</a>
    </div>
    <div class="footer-social-icons">
        <a href="#"><img src="../img/f.png" alt="Facebook"></a>
        <a href="#"><img src="../img/t.png" alt="Twitter"></a>
        <a href="#"><img src="../img/ins.png" alt="Instagram"></a>
    </div>
    <p>© 2024 KLEIDER. Todos los derechos reservados Duban Caro.</p>
</footer>

</html>